<link rel="stylesheet" href="res/styles/backtest.css">

<div id="view_backtest" class="fix-width">
    <div class="header">
        <h1>{{ strategy.name }}</h1>
        <div>
            <button class="btn btn-primary" v-on:click="beginBacktest">
                <i class="mdi mdi-play"></i> 开始回测
            </button>
        </div>
    </div>
    <div>
        <h4>基本设置</h4>
        <div class="form-inline">
            <i class="mdi mdi-calendar mdi-18px"></i> 日期选择
            <datepicker v-model="dateStart" format="yyyy-MM-dd" placeholder="起始日期"></datepicker> -
            <datepicker v-model="dateEnd" format="yyyy-MM-dd" placeholder="结束日期"></datepicker>
            调仓周期
            <bs-input v-model="freq"></bs-input>
        </div>
        <div>
            <i class="mdi mdi-database mdi-18px"></i> 股票池选择
            <v-select v-model="pools" multiple placeholder="选择一个或多个股票池" search clear-button>
                <v-option v-for="(pool, index) in pool_list" v-bind:value="index">{{ pool.name }}</v-option>
            </v-select>
        </div>
        <h4>策略设置</h4>
        <table class="table">
            <thead>
            <tr>
                <th>参数</th>
                <th>值</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="param in strategy.params">
                <td>{{ param.description }}</td>
                <td>
                    <bs-input v-model="param.value"></bs-input>
                </td>
                <td style="white-space: nowrap;">
                    <button class="btn btn-danger" @click="param.value = param.default">
                        <i class="mdi mdi-undo"></i> 恢复默认值
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <h4>回测结果</h4>
        <div>{{ result.progress }}</div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        Vue.component('datepicker', VueStrap.datepicker);
        Vue.component('v-select', VueStrap.select);
        Vue.component('v-option', VueStrap.option);
        Vue.component('bs-input', VueStrap.input);
        var view_backtest = new Vue({
            el: '#view_backtest',
            data: {
                freq: 10,
                strategy: {},
                pool_list: [],
                pools: [],
                dateStart: app.index.max_date,
                dateEnd: app.index.max_date,
                result: {}
            },
            methods: {
                beginBacktest: function () {
                    var ws = new WebSocket('ws://127.0.0.1:8000/ws/backtest?id=' + this.strategy.id);
                    var _this = this;
                    ws.onopen = function () {
                        var universe = [], params = {};
                        for (var key in _this.pools) {
                            universe = universe.concat(_this.pool_list[_this.pools[key]].stocks);
                        }
                        for (var key in _this.strategy.params) {
                            var param = _this.strategy.params[key];
                            params[param.var] = param.value;
                        }
                        ws.send(JSON.stringify({
                            start_date: _this.dateStart,
                            end_date: _this.dateEnd,
                            frequency: _this.freq,
                            params: params,
                            universe: universe
                        }));
                    };
                    ws.onmessage = function (msg) {
                        console.log(msg.data);
                    };
                }
            }
        });

        app.modals.showLoading('正在加载股票池');
        app.requests.get('/api/trade/pool/get', function (res) {
            var list = [];
            for (var key in res['custom']) {
                list.push(res['custom'][key]);
            }
            for (var key in res['base']) {
                list.push(res['base'][key]);
            }
            for (var key in res['industries']) {
                list.push(res['industries'][key]);
            }
            view_backtest.pool_list = list;
        }).always(function () {
            app.modals.hideLoading();
        });

        if (app.views.param.id) {
            app.modals.showLoading('正在加载策略');
            app.requests.get('/api/trade/strategy/getdetail?id=' + app.views.param.id, function (res) {
                res.detail.params = JSON.parse(res.detail.parameters);
                for (var key in res.detail.params) {
                    res.detail.params[key].value = res.detail.params[key].default;
                }
                view_backtest.strategy = res.detail;
            }).always(function () {
                app.modals.hideLoading();
            });
        }
    });
</script>
