<link rel="stylesheet" href="res/styles/home.css">

<div class="home">
    <h1>非专业股票分析系统</h1>
    <h2>市场温度计、历史行情、实时行情、对比回测，以及更多</h2>
    <button type="button" class="btn btn-danger" onclick="app.views.load('market');">
        开始你的股票之旅
    </button>
</div>

<div class="advantage1">
  <div class="col-sm-3 col-md-4">
      <h3>
          <i class="mdi mdi-view-list"></i>
          梁家銘說他來想
      </h3>
      <p>我也不知道這裡要寫什麼</p>
  </div>
</div>

<div class="advantage2">
  <div class="col-sm-3 col-md-4">
        <h3>
            <i class="mdi mdi-view-list"></i>
            梁家銘說他來想
        </h3>
        <p>我也不知道這裡要寫什麼</p>

  </div>
</div>

<div class="advantage3">
  <div class="col-sm-3 col-md-4">
        <h3>
            <i class="mdi mdi-view-list"></i>
            梁家銘說他來想
        </h3>
        <p>我也不知道這裡要寫什麼</p>

  </div>
</div>


