<link rel="stylesheet" href="res/styles/market.css">

<div id="view_market" class="fix-width">
    <div class="header">
        <h1>市场温度计</h1>
        <div>
            <i class="mdi mdi-18px mdi-calendar"></i> 日期选择
            <datepicker v-model="date" :disabled-days-of-Week="disabled_days" format="yyyy-MM-dd"></datepicker>
        </div>
    </div>
    <div class="progress">
        <div class="progress-bar progress-bar-danger" v-bind:style="{ flex: market.surged }">
            上涨 ({{ market.surged }})
        </div>
        <div class="progress-bar" v-bind:style="{ flex: market.balanced }">
            持平 ({{ market.balanced }})
        </div>
        <div class="progress-bar progress-bar-success" v-bind:style="{ flex: market.declined }">
            下跌 ({{ market.declined }})
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3><i class="mdi mdi-36px mdi-chart-line"></i> 近两周交易量趋势</h3>
            <div id="volume_chart"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3><i class="mdi mdi-36px mdi-trending-up"></i> 今日涨停 ({{ market.surged_limit.length }})</h3>
            <minilist :stocks="market.surged_limit"></minilist>
        </div>

        <div class="col-md-6">
            <h3><i class="mdi mdi-36px mdi-trending-down"></i> 今日跌停 ({{ market.decline_limit.length }})</h3>
            <minilist :stocks="market.decline_limit"></minilist>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3><i class="mdi mdi-36px mdi-trending-up"></i> 上涨超 5% ({{ market.surged_over_five_per.length }})</h3>
            <minilist :stocks="market.surged_over_five_per"></minilist>
        </div>

        <div class="col-md-6">
            <h3><i class="mdi mdi-36px mdi-trending-down"></i> 下跌超 -5% ({{ market.decline_over_five_per.length }})</h3>
            <minilist :stocks="market.decline_over_five_per"></minilist>
        </div>
    </div>
</div>

<script type="text/javascript">
    (function () {
        Vue.component('datepicker', VueStrap.datepicker);
        var view_market = new Vue({
            el: '#view_market',
            data: {
                date: '',
                disabled_days: [0, 6],
                market: {}
            },
            components: {
                'minilist': {
                    template: '<table class="table table-hover"><thead><tr><th>股票代码</th><th>股票名称</th><th>收盘价</th><th>涨幅</th></tr></thead><tbody><tr v-for="stk in stocks" v-on:click="rowClick" v-bind:data-code="stk.code"><td>{{ code(stk.code) }}</td><td>{{ stk.name }}</td><td>{{ stk.close }}</td><td>{{ percent(stk.rate) }}</td></tr></tbody></table>',
                    props: ['stocks'],
                    methods: {
                        code: app.utils.formatCode,
                        percent: app.utils.formatPercent,
                        rowClick: function (e) {
                            app.views.load('stock', {code: e.currentTarget.dataset.code});
                        }
                    }
                }
            },
            watch: {
                date: function () {
                    var date = view_market.date;
                    if (date != '') {
                        app.views.setParam({date: date});
                        app.loading.show();
                        $.getJSON('/api/stock/market?date=' + date, function (result) {
                            view_market.market = result;
                        }).always(function () {
                            app.loading.hide();
                        });
                    }
                }
            },
            updated: function () {
                echarts.init(this.$el.querySelector('#volume_chart')).setOption({
                    xAxis: {
                        type: 'time'
                    },
                    yAxis: {
                        scale: true
                    },
                    tooltip: {
                        trigger: 'axis'
                    },
                    toolbox: {
                        show: true,
                        feature: {
                            dataZoom: {},
                            magicType: {type: ['line', 'bar']},
                            restore: {},
                            saveAsImage: {}
                        }
                    },
                    series: [{
                        name: '交易量',
                        type: 'line',
                        data: this.market.volumes
                    }]
                });
            }
        });
        if (app.views.param.date) {
            view_market.date = app.views.param.date;
        } else {
            view_market.date = app.dates.max;
        }
    })();
</script>