<script>
    var submitForm = function () {
        var username = $("#username").val();
        var password = sha256($("#password").val());
        var nickname = $("#nickname").val();
        var email = $("#email").val();
        $.post("api/society/regist/", {
            'username': username,
            'password': password,
            'nickname': nickname,
            'email': email
        }, function (ret) {
            if (ret.ok) {
                app.views.load('login');
            } else {
                $("#password").val("");
                $("#confirmPassword").val("");
                $("#registFail").html(ret.reason);
            }
        });
    };

    $(document).ready(function () {
        app.views.searchBoxFocus(false);
        $("#registFrom").validate({
            submitHandler: function () {
                submitForm();
            },
            rules: {
                username: {
                    required: true,
                    maxlength: 20
                },
                nickname: {
                    required: true,
                    maxlength: 20
                },
                password: {
                    required: true,
                    minlength: 6,
                    maxlength: 18
                },
                confirmPassword: {
                    required: true,
                    minlength: 6,
                    maxlength: 18,
                    equalTo: "#password"
                },
                email: {
                    required: true,
                    email: true
                }
            },
            messages: {
                username: {
                    required: "请输入用户名",
                    maxlength: "用户名最多为20个字符"
                },
                nickname: {
                    required: "请输入昵称",
                    maxlength: "昵称最多为20个字符"
                },
                password: {
                    required: "请输入密码",
                    minlength: "密码长度不能小于 6 个字母"
                },
                confirmPassword: {
                    required: "请输入确认密码",
                    minlength: "密码长度不能小于 6 个字母",
                    equalTo: "两次密码输入不一致"
                },
                email: "请输入一个正确的邮箱"
            }
        });


    });
</script>


<dev>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>注册</title>
    </head>
    <body>
    <h1>注册页面：</h1>
    <form method='post' id="registFrom" enctype="multipart/form-data">
        <fieldset>
            <legend>验证完整的表单</legend>
            <p>
                <label for="username">用户名</label>
                <input id="username" name="username" type="text">
            </p>
            <p>
                <label for="password">密码</label>
                <input id="password" name="password" type="password">
            </p>
            <p>
                <label for="confirmPassword">验证密码</label>
                <input id="confirmPassword" name="confirmPassword" type="password">
            </p>
            <p>
                <label for="email">Email</label>
                <input id="email" name="email" type="text">
            </p>
            <p>
                <label for="nickname">昵称</label>
                <input id="nickname" name="nickname" type="text">
            </p>
            <input id="registBtn" type="button" onclick="submitForm()" value="注册"/>
        </fieldset>
    </form>
    <br>
    <p id="registFail"></p>
    <br>
    <button onclick="app.views.load('login');">登录</button>
    </body>
</dev>