<link rel="stylesheet" href="res/styles/stocklist.css">

<div id="view_stocklist" class="fix-width">
    <div class="header">
        <h1>股票行情</h1>
        <div>
            <i class="mdi mdi-18px mdi-calendar"></i> 日期选择
            <datepicker v-model="date" :disabled-days-of-Week="disabled_days" format="yyyy-MM-dd"></datepicker>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table class="table">
                <thead>
                <tr>
                    <th>股票代码</th>
                    <th>股票名称</th>
                    <th>涨幅</th>
                    <th>今收</th>
                    <th>交易量</th>
                    <th>今开</th>
                    <th>最高</th>
                    <th>最低</th>
                    <th>昨收</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="stk in stocks" v-bind:class="{ red: stk[7] > 0, green: stk[7] < 0 }"
                    v-bind:data-code="stk[0]" v-on:click="rowClick">
                    <td>{{ code(stk[0]) }}</td>
                    <td>{{ stk[1] }}</td>
                    <td>{{ percent(stk[7]) }}</td>
                    <td>{{ stk[5] }}</td>
                    <td>{{ stk[8] }}</td>
                    <td>{{ stk[2] }}</td>
                    <td>{{ stk[3] }}</td>
                    <td>{{ stk[4] }}</td>
                    <td>{{ stk[6] }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    (function () {
        Vue.component('datepicker', VueStrap.datepicker);
        var view_stocklist = new Vue({
            el: '#view_stocklist',
            data: {
                date: '',
                disabled_days: [0, 6],
                stocks: []
            },
            watch: {
                date: function () {
                    var date = view_stocklist.date;
                    if (date != '') {
                        app.views.setParam({date: date});
                        app.loading.show();
                        $.getJSON('/api/stock/stock_list?date=' + date, function (result) {
                            view_stocklist.stocks = result;
                        }).always(function () {
                            app.loading.hide();
                        });
                    }
                }
            },
            methods: {
                code: app.utils.formatCode,
                percent: app.utils.formatPercent,
                rowClick: function (e) {
                    debugger;
                    app.views.load('stock', {code: e.currentTarget.dataset.code});
                }
            }
        });
        if (app.views.param.date) {
            view_stocklist.date = app.views.param.date;
        } else {
            view_stocklist.date = app.dates.max;
        }
    })();
</script>