<link rel="stylesheet" href="res/styles/strategy.css">

<div id="view_strategy" class="container-fluid">
    <div class="row">
        <div class="col-md-2 left">
            <div class="list">
                <div>
                    <i class="mdi mdi-file-document"></i>
                    策略1
                </div>
                <div class="act">
                    <i class="mdi mdi-file-document"></i>
                    策略2
                </div>
            </div>
        </div>
        <div class="col-md-10 right">
            <div class = "buttons">
                <button type="button" class="btn btn-primary" onclick="">
                    新建
                </button>
                <button type="button" class="btn btn-primary" onclick="">
                    回测
                </button>
                <button type="button" class="btn btn-primary" onclick="">
                    保存
                </button>
                <button type="button" class="btn btn-primary" onclick="">
                    删除
                </button>
            </div>
        </div>
    </div>
</div>

