{% load static %}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/container2.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vue.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vue-strap.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/echarts.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sha256.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
    <title>Quantra</title>
</head>
{% verbatim %}
<body>
<header>
    <div>
        <a href="javascript:" onclick="app.views.load('home');">
            <img src="res/images/logo.png">
        </a>
    </div>
    <div id="search">
        <typeahead :data="list" limit="10" placeholder="股票代码/名称/拼音首字母..." :on-hit="onSelect"></typeahead>
    </div>
    <div>
        <ul id="nav">
            <li><a href="javascript:" v-bind:class="{ act: selected == 'home' }" v-on:click="navClick"
                   data-view="home">
                首页
            </a></li>
            <li><a href="javascript:" v-bind:class="{ act: selected == 'market' }" v-on:click="navClick"
                   data-view="market">
                市场
            </a></li>
            <li><a href="javascript:" v-bind:class="{ act: selected == 'stockpool' }" v-on:click="navClick"
                   data-view="stockpool">
                行情
            </a></li>
            <li><a href="javascript:" v-bind:class="{ act: selected == 'strategy' }" v-on:click="navClick"
                   data-view="strategy">
                回测
            </a></li>
        </ul>
    </div>
    <div id="userinfo">
        <img src="res/images/nohead.jpg">
        <span v-if="username != ''">
            你好，{{username}}
            <a href="javascript:" v-on:click="doLogout">退出</a>
        </span>
        <span v-else>
            你好，请
            <a href="javascript:" @click="showLogin = true">登录</a> 或
            <a href="javascript:" @click="showReg = true">注册</a>
        </span>
        <modal v-model="showLogin" effect="fade">
            <div slot="modal-header" class="modal-header">
                <h4 class="modal-title">
                    用户登录
                </h4>
            </div>
            <div class="form-horizontal">
                <div class="row">
                    <label class="col-sm-2 control-label">用户名</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" v-model="input_username">
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <label class="col-sm-2 control-label">密码</label>
                    <div class="col-sm-6">
                        <input type="password" class="form-control" v-model="input_password">
                    </div>
                </div>
            </div>
            <div slot="modal-footer" class="modal-footer">
                <button type="button" class="btn btn-primary" v-on:click="doLogin">登录</button>
                <button type="button" class="btn btn-default" @click="showLogin = false">关闭</button>
            </div>
        </modal>
        <modal v-model="showReg" effect="fade">
            <div slot="modal-header" class="modal-header">
                <h4 class="modal-title">
                    用户注册
                </h4>
            </div>
            <div class="form-horizontal">
                <div class="row">
                    <label class="col-sm-2 control-label">用户名</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" v-model="input_username">
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <label class="col-sm-2 control-label">密码</label>
                    <div class="col-sm-6">
                        <input type="password" class="form-control" v-model="input_password">
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <label class="col-sm-2 control-label">确认密码</label>
                    <div class="col-sm-6">
                        <input type="password" class="form-control" v-model="input_password2">
                    </div>
                </div>
            </div>
            <div slot="modal-footer" class="modal-footer">
                <button type="button" class="btn btn-primary" v-on:click="doRegister">注册</button>
                <button type="button" class="btn btn-default" @click="showReg = false">关闭</button>
            </div>
        </modal>
    </div>
</header>
<div id="container">
    <div class="loading" v-if="loading > 0">
        <i class="mdi mdi-loading mdi-spin" style="font-size: 128px;"></i>
    </div>
    <div id="content" v-bind:class="{ hidden: loading > 0 }">
    </div>
</div>

<script type="text/javascript">
    (function () {
        app.nav = new Vue({
            el: '#nav',
            data: {
                selected: ''
            },
            methods: {
                navClick: function (e) {
                    app.views.load(e.target.dataset.view);
                }
            }
        });
        app.loading = new Vue({
            el: '#container',
            data: {
                loading: 0
            },
            methods: {
                show: function () {
                    this.loading = 1;
                },
                hide: function () {
                    this.loading = 0;
                }
            }
        });

        Vue.component('typeahead', VueStrap.typeahead);
        var search_box = new Vue({
            el: '#search',
            data: {
                list: []
            },
            methods: {
                onSelect: function (item) {
                    app.views.load('stock', {code: Number(item.split(' ')[0])});
                }
            }
        });

        Vue.component('modal', VueStrap.modal);
        var user_info = new Vue({
            el: '#userinfo',
            data: {
                username: '',
                showLogin: false,
                showReg: false,
                input_username: '',
                input_password: '',
                input_password2: ''
            },
            methods: {
                doLogin: function (e) {
                    if (this.input_username != '' && this.input_password != '') {
                        e.target.disabled = true;
                        $.post("/api/user/login", {
                            username: this.input_username,
                            password: sha256(this.input_password)
                        }, function (ret) {
                            if (ret.ok) {
                                user_info.username = ret.username;
                            } else {
                                alert('登录失败: ' + ret.msg);
                            }
                            e.target.disabled = false;
                            user_info.showLogin = false;
                        });
                    }
                },
                doRegister: function (e) {
                    if (this.input_username != '' && this.input_password != '' && this.input_password == this.input_password2) {
                        e.target.disabled = true;
                        $.post("/api/user/register", {
                            username: this.input_username,
                            password: sha256(this.input_password)
                        }, function (ret) {
                            if (ret.ok) {
                                user_info.username = ret.username;
                            } else {
                                alert('注册失败: ' + ret.msg);
                            }
                            e.target.disabled = false;
                            user_info.showReg = false;
                        });
                    }
                },
                doLogout: function () {
                    $.getJSON('/api/user/logout', function (ret) {
                        if (ret.ok) {
                            user_info.username = '';
                        }
                    });
                }
            }
        });
        $.getJSON('/api/user/status', function (ret) {
            if (ret && ret.status) {
                user_info.username = ret.username;
            } else {
                user_info.username = '';
            }
        });

        app.loading.show();
        app.index.fetch().always(function () {
            var src = [];
            for (var code in app.index.stocks) {
                src.push(app.utils.formatCode(code) + ' ' + app.index.stocks[code].name + ' ' + app.index.stocks[code].pinyin);
            }
            search_box.list = src;
            $('body').on('keypress', function (e) {
                if (e.target.nodeName != 'INPUT') {
                    $('#search input').focus();
                }
            });

            app.loading.hide();
            var hash = location.hash.substr(1).split('?');
            if (hash[0] != '') {
                var params = {};
                if (hash.length > 1) {
                    query = hash[1].split('&');
                    for (var i = query.length; i > 0;) {
                        var pair = query[--i].split('=');
                        params[decodeURIComponent(pair[0])] = decodeURIComponent(pair[1]);
                    }
                }
                app.views.load(hash[0], params);
            } else {
                app.views.load('home');
            }
        });
    })();
</script>
</body>
{% endverbatim %}
</html>