#view_backtest {
  margin-top: 20px;

  .header {
    display: flex;
    margin-bottom: 20px;

    h1 {
      flex: 1;
      margin: 0;
    }
  }

  .table {
    .form-group {
      margin: 0;
    }
  }
}