@import '../bootstrap/css/bootstrap.min.css';
@import '../bootstrap/css/font-awesome.min.css';
html {
  height: 100%;
}
body {
  font-family: "Pingfang SC", "Source Han Sans SC", "Microsoft Yahei", Helvetica, Arial, sans-serif;
  margin: 0;
  height: 100%;
  display: flex;
}
.hidden {
  display: none;
}
#sidebar {
  width: 300px;
  background-color: #023b53;
  color: white;
}
#sidebar .logo {
  margin-top: 30px;
  text-align: center;
}
#sidebar .logo img {
  max-width: 200px;
}
#sidebar #nav {
  margin-top: 20px;
}
#sidebar #nav li {
  font-size: 16px;
}
#sidebar #nav li a {
  padding-left: 50px;
  color: rgba(204, 218, 234, 0.6);
}
#sidebar #nav li a.act {
  color: whitesmoke;
}
#sidebar #nav li a:hover {
  color: #333333;
}
#sidebar #nav li i {
  margin-right: 5px;
}
#container {
  flex: 1;
  padding: 20px 30px;
  overflow-y: scroll;
}
#container .loading {
  text-align: center;
  margin-top: 100px;
}
