@import '../bootstrap/css/bootstrap.min.css';
// @import '../bootstrap/css/bootstrap-theme.min.css';
@import '../bootstrap/css/materialdesignicons.min.css';

body {
  font-family: "Pingfang SC", "Source Han Sans SC", "Microsoft Yahei", Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: #f9f9f9;
}

.hidden {
  display: none;
}

.fix-width {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

@media all and (max-width: 1200px) {
  .fix-width {
    width: 100%;
    margin-left: 10px;
    margin-left: 10px;
  }
}

header {
  background-color: #023b53;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 50px;

  >div:nth-child(1) {
    flex: 1;

    img {
      max-height: 30px;
    }
  }

  >div:nth-child(2) {
    ul {
      display: inline-block;
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
      float: left;
      padding: 0 10px;

      a {
        color: rgba(204, 218, 234, .6);
        text-decoration: none;
      }

      a.act, a:hover {
        color: whitesmoke;
      }
    }
  }
}

#container {
  .loading {
    margin-top: 50px;
    text-align: center;
  }
}