#view_market {
  width: 1200px;
  margin: 20px auto;

  .header {
    display: flex;

    h1 {
      flex: 1;
      margin: 0;
    }
  }

  .progress {
    margin-top: 20px;
    height: 24px;
    display: flex;

    .progress-bar {
      font-size: 14px;
      flex: 1;
      min-width: 100px;
    }
  }

  h3 {
    margin: 0;
  }
}