#view_market {
  .header {
    display: flex;

    h1 {
      flex: 1;
      margin: 0;
    }
  }

  .progress {
    margin-top: 10px;
    height: 24px;
    display: flex;

    .progress-bar {
      font-size: 14px;
      flex: 1;
      min-width: 100px;
    }
  }
}