#view_market {
  width: 1200px;
  margin: 20px auto;
}
#view_market .header {
  display: flex;
}
#view_market .header h1 {
  flex: 1;
  margin: 0;
}
#view_market .progress {
  margin-top: 20px;
  height: 24px;
  display: flex;
}
#view_market .progress .progress-bar {
  font-size: 14px;
  flex: 1;
  min-width: 100px;
}
#view_market h3 {
  margin: 0;
}
