#view_stock {
  margin-top: 20px;
}
#view_stock .hori {
  display: flex;
  align-items: baseline;
}
#view_stock .hori .name {
  flex: 1;
  font-size: 32px;
  color: #0055a2;
}
#view_stock .hori .price {
  font-size: 28px;
}
#view_stock .hori .red {
  color: #db5542;
}
#view_stock .hori .green {
  color: #53b37b;
}
#view_stock .hori .prices {
  font-size: 18px;
  margin-left: 20px;
}
#view_stock .rtdata > div {
  flex: 1;
  font-size: 16px;
}
#view_stock .echarts {
  width: 100%;
}
#view_stock .chart_select {
  padding-left: 30px;
}
#view_stock .chart_select span {
  padding: 0 10px;
}
#view_stock .chart_select span.act {
  font-weight: bold;
}
