*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
/* 两列右侧自适应布局 */
.left-fixed_right-auto{
    width: 100%;
    height: 1000px;
    clear: both;
    display: inline-block;
    margin-top: 20px;
}
.left{
    position:relative;
    float:left;
    width:200px;
    height: 100%;
    margin-right:-200px;
    background: whitesmoke;
}
.right{
    float:right;
    width:100%;
    height: 100%;


}
.right-content{
    margin-left:200px;
    height: 100%;
    text-align:right;

}


