#view_strategy {
  height: 100%;
}
#view_strategy .row {
  height: 100%;
}
#view_strategy .left {
  background-color: #eaf1fa;
  height: 100%;
  padding: 0;
}
#view_strategy .left .list {
  padding-top: 10px;
}
#view_strategy .left .list > div {
  height: 30px;
  line-height: 30px;
  padding-left: 30px;
}
#view_strategy .left .list > div.act {
  background-color: white;
}

#view_strategy .right > div {
  text-align:right;
  padding-top: 10px;
}

